@page {	margin: 40px; }

p.cabecalho { font-size: 11px; font-family: Calibri; }
	
p.texto1 { font-size: 48px; font-weight: bold; font-family: Calibri; }
	
p.texto2 { font-size: 32px;	font-weight: bold; font-family: Calibri; }

p.texto3 { font-size: 28px;	font-weight: bold; font-family: Calibri; }

p.rodape { font-size: 22px;	font-weight: bold;	font-family: Calibri; }