@page {
	margin: 40px;
}

p.is_ca {
	font-size: 11px;
	font-family: Calibri;
}
	
is_txt1.a {
	font-size: 48px;
	font-weight: bold;
	font-family: Calibri;
}
	
	
is_txt2 {
	font-size: 32px;
	font-weight: bold;
	font-family: Calibri;
}

is_txt3 {
	font-size: 28px;
	font-weight: bold;
	font-family: Calibri;
}

is_rp {
	font-size: 22px;
	font-weight: bold;
	font-family: Calibri;
}